/* Simplify Theme by D5 Creation, www.d5creation.com
/* =Responsive Design 
-------------------------------------------------------------- */
@media screen and (max-width:799px){
  body, #container, #top-menu-container, #header, #header-content, #content-full, .conwidth, #footer, #footer-sidebar,  #creditline, #slide-container, #slide, #slide img, img.site-logo, h1.site-title, #heading, .heading-desc {
    max-width:100%;
    min-width:0;
  }
  .site-title {font-size: 24px;}
  #container { width: 95%; margin: 0 auto; }
  #slide-container, #slide, #slide img, #header-bottom{height:auto; width: auto}
  #heading{margin:0 auto 40px;}
  .heading-desc{clear:both;}
  #featured-boxes { margin: 0; padding: 0; width: auto; }
  #footer-content { width: 100%; }
  #right-sidebar, #simplify-main-menu{clear:both;float:none;margin:0 auto;width:100%;}
  .featured-box { width: auto; margin: 0 0 20px 0px }
  .featured-box,
  .featured-box-first{display:inline-block;float: none;min-height: initial}
  #featured-boxes img.box-image{clear:both;display:block;margin-bottom:10px;}
  #design-main-menu , #content{float:none;width:100%;}
  #footer-sidebar #footer-widget, #footer-sidebar #first-footer-widget, #right-sidebar .widget {min-width: 200px; float: left; margin-left: 15px; }
  #client { width: 100%; display: block;}
  img.site-logo { display: block; float: none; margin: 0 auto; }
  #featured-boxes img.box-icon { clear: both; display: block; }
  h3.featured-box2 { float: left; max-width:100%; }
  #simplify-main-menu a { color: #333333; }
  .social-menu { clear: both }
}
